{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Orobo</title>
</head>
<body>
    <div class="main-container">
        {% include './navbar.html' %}
        <div class="container">
            <h1>Good morning, OroboTech!</h1>

            <h3>Inventory</h3>
            
            <div class="btn-category-group">
                <a href="#" class="btn-category all">All</a>
                <a href="#" class="btn-category">Inflow</a>
                <a href="#" class="btn-category outflow">Outflow</a>
            </div>
            
            <div class="btn-sort-group">
                <p class="sort-title">Sort by</p>
                <button class="btn-sort">Product</button>
                <button class="btn-sort">Quantity</button>
                <button class="btn-sort">Expected Value</button>
                <button class="btn-sort">Description</button>
            </div>

            <div class="product-container">
                <div class="product-card">
                    <div class="row">
                        <p class="name">Product A</p>
                        <p class="type">Inflow</p>
                    </div>
                    <p class="quantity"><strong>Quantity:</strong> 100 units</p>
                    <p class="label-desc">Description</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis eligendi, saepe laudantium id dolores nihil harum veritatis quisquam enim itaque, sapiente temporibus optio tempora quaerat officia tenetur, laboriosam maiores.</p>
                </div>
                <div class="product-card">
                    <div class="row">
                        <p class="name">Product A</p>
                        <p class="type">Inflow</p>
                    </div>
                    <p class="quantity"><strong>Quantity:</strong> 100 units</p>
                    <p class="label-desc">Description</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis eligendi, saepe laudantium id dolores nihil harum veritatis quisquam enim itaque, sapiente temporibus optio tempora quaerat officia tenetur, laboriosam maiores.</p>
                </div>
                <div class="product-card">
                    <div class="row">
                        <p class="name">Product A</p>
                        <p class="type">Inflow</p>
                    </div>
                    <p class="quantity"><strong>Quantity:</strong> 100 units</p>
                    <p class="label-desc">Description</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis eligendi, saepe laudantium id dolores nihil harum veritatis quisquam enim itaque, sapiente temporibus optio tempora quaerat officia tenetur, laboriosam maiores.</p>
                </div>
                <div class="product-card">
                    <div class="row">
                        <p class="name">Product A</p>
                        <p class="type">Inflow</p>
                    </div>
                    <p class="quantity"><strong>Quantity:</strong> 100 units</p>
                    <p class="label-desc">Description</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis eligendi, saepe laudantium id dolores nihil harum veritatis quisquam enim itaque, sapiente temporibus optio tempora quaerat officia tenetur, laboriosam maiores.</p>
                </div>
                <div class="product-card">
                    <div class="row">
                        <p class="name">Product A</p>
                        <p class="type">Inflow</p>
                    </div>
                    <p class="quantity"><strong>Quantity:</strong> 100 units</p>
                    <p class="label-desc">Description</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. A perspiciatis eligendi, saepe laudantium id dolores nihil harum veritatis quisquam enim itaque, sapiente temporibus optio tempora quaerat officia tenetur, laboriosam maiores.</p>
                </div>

            </div>
    
        </div>
        {% include './ribbon.html' %}
    </div>
</body>
</html>