{% load static %}
<div class="ribbon">
    <h3>OroboTech</h3>
    <p class="email">orobotech@gmail.com</p>

    <div class="delivery-container">
        <div class="delivery-card">
            <div class="text">
                <p class="status">Arriving Today</p>
                <p class="product">Iron Ore</p>
                <p class="quantity">27,234,00</p>
                <p class="units">UNITS</p>
            </div>
            <button class="card-expand"><img src="{% static 'images/down.png' %}" alt=""></button>
        </div>

        <div class="delivery-card">
            <div class="text">
                <p class="status">Arriving Today</p>
                <p class="product">Iron Ore</p>
                <span>
                    <p class="quantity">27,234,00</p>
                    <p class="units">UNITS</p>
                </span>
            </div>
            <button class="card-expand"><img src="{% static 'images/down.png' %}" alt=""></button>
        </div>

        <div class="delivery-card">
            <div class="text">
                <p class="status">Arriving Today</p>
                <p class="product">Iron Ore</p>
                <p class="quantity">27,234,00</p>
                <p class="units">UNITS</p>
            </div>
            <button class="card-expand"><img src="{% static 'images/down.png' %}" alt=""></button>
        </div>
    </div>    
</div>